@model List<ResultTourDto>
@using Project3Travelin.Dtos.CategoryDtos
@{
    Layout = "~/Views/Shared/_TravelinLayout.cshtml";
}

<!-- banner starts -->
<section class="banner pt-10 pb-0 overflow-hidden" style="background-image: url(/travelin/images/testimonial.png)">
    <div class="container">
        <div class="banner-in">
            <div class="row align-items-center">
                <div class="col-lg-6 mb-4">
                    <div class="banner-content text-lg-start text-center">
                        <h4 class="theme mb-0">Dünyayı Keşfet</h4>
                        <h1>Hayalinizdeki Tatili Planlamaya Hemen Başlayın!</h1>
                        <p class="mb-4">Travelin ile kültür turlarından doğa keşiflerine, deniz tatillerinden macera dolu rotalara kadar yüzlerce seçeneği keşfedin. Size en uygun turu seçin ve unutulmaz anılar biriktirmeye başlayın.</p>
                        <div class="book-form">
                            <form action="/Dashboard/Search" method="get">
                                <div class="row d-flex align-items-center justify-content-between">
                                    <div class="col-lg-6 mb-2">
                                        <div class="form-group">
                                            <div class="input-box">
                                                <select name="city" class="niceSelect">
                                                    <option value="">Rota Seçiniz</option>
                                                    @foreach (var item in Model.GroupBy(x => x.City).Select(x => x.First()))
                                                    {
                                                        <option value="@item.City">@item.City</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-2">
                                        <div class="form-group">
                                            <div class="input-box">
                                                <input type="date" name="date" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-2">
                                        <div class="form-group">
                                            <div class="input-box">
                                                <select name="categoryId" class="niceSelect">
                                                    <option value="">Kategori Seçiniz</option>
                                                    @foreach (var item in (List<ResultCategoryDto>)ViewBag.Categories)
                                                    {
                                                        <option value="@item.CategoryId">@item.CategoryName</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-2">
                                        <div class="form-group">
                                            <div class="input-box">
                                                <select name="dayNight" class="niceSelect">
                                                    <option value="">Tur Süresi</option>
                                                    @foreach (var item in Model.GroupBy(x => x.DayNight).Select(x => x.First()))
                                                    {
                                                        <option value="@item.DayNight">@item.DayNight</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mb-0 text-center">
                                            <button type="submit" class="nir-btn w-100" onclick="this.form.submit()">
                                                <i class="fa fa-search mr-2"></i> Turları Ara
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="banner-image">
                        <img src="/travelin/images/travel.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="category-main-inner border-t pt-1">
                <div class="row side-slider">
                    <div class="col-lg-3 col-md-6 my-4">
                        <div class="category-item box-shadow p-3 py-4 text-center bg-white rounded overflow-hidden">
                            <div class="trending-topic-content">
                                <img src="/travelin/images/icons/004-camping-tent.png" class="mb-1 d-inline-block" alt="" />
                                <h4 class="mb-0"><a href="tour-grid.html">Camping</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 my-4">
                        <div class="category-item box-shadow p-3 py-4 text-center bg-white rounded overflow-hidden">
                            <div class="trending-topic-content text-center">
                                <img src="/travelin/images/icons/003-hiking.png" class="mb-1 d-inline-block" alt="" />
                                <h4 class="mb-0"><a href="tour-grid.html">Hiking</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 my-4">
                        <div class="category-item box-shadow p-3 py-4 text-center bg-white rounded overflow-hidden">
                            <div class="trending-topic-content">
                                <img src="/travelin/images/icons/005-sunbed.png" class="mb-1 d-inline-block" alt="" />
                                <h4 class="mb-0"><a href="tour-grid.html">Beach Tours</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 my-4">
                        <div class="category-item box-shadow p-3 py-4 text-center bg-white rounded overflow-hidden">
                            <div class="trending-topic-content">
                                <img src="/travelin/images/icons/006-surf.png" class="mb-1 d-inline-block" alt="" />
                                <h4 class="mb-0"><a href="tour-grid.html">Surfing</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 my-4">
                        <div class="category-item box-shadow p-3 py-4 text-center bg-white rounded overflow-hidden">
                            <div class="trending-topic-content">
                                <img src="/travelin/images/icons/002-safari.png" class="mb-1 d-inline-block" alt="" />
                                <h4 class="mb-0"><a href="tour-grid.html">Safari</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 my-4">
                        <div class="category-item box-shadow p-3 py-4 text-center bg-white rounded overflow-hidden">
                            <div class="trending-topic-content">
                                <img src="/travelin/images/icons/008-cycling.png" class="mb-1 d-inline-block" alt="" />
                                <h4 class="mb-0"><a href="tour-grid.html">Cycling</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 my-4">
                        <div class="category-item box-shadow p-3 py-4 text-center bg-white rounded overflow-hidden">
                            <img src="/travelin/images/icons/007-hiking-1.png" class="mb-1 d-inline-block" alt="" />
                            <div class="trending-topic-content">
                                <h4 class="mb-0"><a href="tour-grid.html">Trekings</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- about-us starts -->
<section class="about-us pb-6 pt-6" style="background-image: url(/travelin/images/shape4.png); background-position: center">
    <div class="container">
        <div class="section-title mb-6 w-50 mx-auto text-center">
            <h4 class="mb-1 theme1">Mükemmel Tatil İçin 3 Adım</h4>
            <h2 class="mb-1">Find <span class="theme">Seyahati Planlayın</span></h2>
            <p>Size en uygun rotayı seçin, seyahat tercihlerinizi belirleyin ve profesyonel ekibimizin hazırladığı özel turlar ile unutulmaz bir deneyim yaşayın.</p>
        </div>

        <!-- why us starts -->
        <div class="why-us">
            <div class="why-us-box">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                        <div class="why-us-item text-center p-4 py-5 border rounded bg-white">
                            <div class="why-us-content">
                                <div class="why-us-icon">
                                    <i class="icon-flag theme"></i>
                                </div>
                                <h4><a href="about.html">Seyahat Hayalinizi Paylaşın</a></h4>
                                <p class="mb-0">Gitmek istediğiniz yerleri ve beklentilerinizi bize iletin.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                        <div class="why-us-item text-center p-4 py-5 border rounded bg-white">
                            <div class="why-us-content">
                                <div class="why-us-icon">
                                    <i class="icon-location-pin theme"></i>
                                </div>
                                <h4><a href="about.html">Rotanızı Belirleyin</a></h4>
                                <p class="mb-0">Yurt içi ve yurt dışındaki yüzlerce destinasyon arasından seçim yapın.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                        <div class="why-us-item text-center p-4 py-5 border rounded bg-white">
                            <div class="why-us-content">
                                <div class="why-us-icon">
                                    <i class="icon-directions theme"></i>
                                </div>
                                <h4><a href="about.html">Tercihlerinizi Oluşturun</a></h4>
                                <p class="mb-0">Konaklama, ulaşım ve tur detaylarını ihtiyaçlarınıza göre belirleyin.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                        <div class="why-us-item text-center p-4 py-5 border rounded bg-white">
                            <div class="why-us-content">
                                <div class="why-us-icon">
                                    <i class="icon-compass theme"></i>
                                </div>
                                <h4><a href="about.html">Güvenle Seyahat Edin</a></h4>
                                <p class="mb-0">Deneyimli ekibimizle seyahatinizin her anında yanınızdayız.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- why us ends -->
    </div>
    <div class="white-overlay"></div>
</section>
<!-- about-us ends -->
<!-- about-us starts -->
<section class="about-us pt-0" style="background-image: url(/travelin/images/bg/bg-trans.png)">
    <div class="container">
        <div class="about-image-box">
            <div class="row d-flex align-items-center justify-content-between">
                <div class="col-lg-6 mb-4 pe-4">
                    <div class="about-image overflow-hidden">
                        <img src="/travelin/images/travel1.png" alt="" />
                    </div>
                </div>
                <div class="col-lg-6 mb-4 ps-4">
                    <div class="about-content text-center text-lg-start mb-4">
                        <h4 class="theme d-inline-block mb-0">Bizi Yakından Tanıyın</h4>
                        <h2 class="border-b mb-2 pb-1">Travelin ile Dünyayı Keşfedin</h2>
                        <p class="border-b mb-2 pb-2">
                            Travelin olarak seyahatin sadece bir yolculuk değil, aynı zamanda unutulmaz deneyimler ve yeni keşifler olduğuna inanıyoruz.

                            Yılların deneyimiyle hazırladığımız kültür, doğa, macera ve keşif turları sayesinde misafirlerimize güvenli, konforlu ve keyifli seyahat deneyimleri sunuyoruz.

                            Profesyonel rehberlerimiz, özenle planlanan rotalarımız ve müşteri memnuniyeti odaklı hizmet anlayışımız ile her yolculuğu özel bir hikâyeye dönüştürüyoruz.
                        </p>
                        <div class="about-listing">
                            <ul class="d-flex justify-content-between">
                                <li><i class="icon-location-pin theme"></i> Profesyonel Rehberlik</li>

                                <li><i class="icon-briefcase theme"></i> Uygun Fiyat Garantisi</li>

                                <li><i class="icon-folder theme"></i> Güvenilir Tur Paketleri</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <!-- Counter -->
                    <div class="counter-main w-75 float-end">
                        <div class="counter p-4 pb-0 box-shadow bg-white rounded">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                                    <div class="counter-item border-end pe-4">
                                        <div class="counter-content">
                                            <h2 class="value mb-0 theme">20</h2>
                                            <span class="m-0">Yıllık Deneyim</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                                    <div class="counter-item border-end pe-4">
                                        <div class="counter-content">
                                            <h2 class="value mb-0 theme">530</h2>
                                            <span class="m-0">
                                                Tur Paketi
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                                    <div class="counter-item border-end pe-4">
                                        <div class="counter-content">
                                            <h2 class="value mb-0 theme">850</h2>
                                            <span class="m-0">Mutlu Müşteri</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                                    <div class="counter-item">
                                        <div class="counter-content">
                                            <h2 class="value mb-0 theme">320</h2>
                                            <span class="m-0">Başarılı Organizasyon</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Counter -->
                </div>
            </div>
        </div>
    </div>
    <div class="white-overlay"></div>
</section>
<!-- about-us ends -->