@model GetTourByIdDto
@inject Microsoft.AspNetCore.Identity.SignInManager<AppUser> SignInManager
@{
    Layout = "~/Views/Shared/_TravelinLayout.cshtml";
    int currentPage = ViewBag.CurrentPage ?? 1;
    int totalPages = ViewBag.TotalPages ?? 1;
}

<section class="breadcrumb-main pb-20 pt-14"
         style="background-image: url(/travelin/images/bg/bg1.jpg);">
    <div class="section-shape section-shape1 top-inherit bottom-0"
         style="background-image: url(/travelin/images/shape8.png);">
    </div>
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h1 class="mb-0 white">Tur Detayı</h1>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item">
                        <a href="/Tour/TourList">Tur Listesi</a>
                    </li>
                    <li class="breadcrumb-item active">Tur Detayı</li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<section class="trending pt-6 pb-0 bg-lgrey">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="single-content">

                    <div id="highlight">
                        <div class="single-full-title border-b mb-2 pb-2">
                            <div class="single-title">
                                <h2 class="mb-1">@Model.Title</h2>
                                <div class="rating-main d-md-flex align-items-center">
                                    <p class="mb-0 me-2"><i class="icon-location-pin"></i> @Model.City, @Model.Country</p>
                                    <div class="rating me-2">
                                        @for (int star = 1; star <= 5; star++)
                                        {
                                            if (star <= (int)Math.Round(Model.Rating))
                                            {
                                                <span class="fa fa-star" style="color:#f5a623;"></span>
                                            }
                                            else
                                            {
                                                <span class="fa fa-star" style="color:#d1d5db;"></span>
                                            }
                                        }
                                    </div>
                                    <span>@ViewBag.CommentCount Değerlendirme</span>
                                </div>
                            </div>
                        </div>

                        <div class="description-images mb-4">
                            <img src="@Model.ImageUrl" alt="" class="w-100 rounded">
                        </div>

                        <div class="description mb-2">
                            <h4>Açıklama</h4>
                            <p>@Model.Description</p>
                        </div>

                        <div class="tour-includes mb-4">
                            <table>
                                <tbody>
                                    <tr>
                                        <td><i class="fa fa-calendar pink mr-1"></i> @Model.TourDate</td>
                                        <td><i class="fa fa-user pink mr-1"></i> Minimum Yaş : @Model.MinAge</td>
                                        <td><i class="fa fa-map-signs pink mr-1"></i> Alış Noktası : @Model.PickupLocation</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="description mb-2">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 mb-2">
                                    <div class="desc-box bg-grey p-4 rounded">
                                        <h5 class="mb-2">Kalkış & Dönüş Noktası</h5>
                                        <p class="mb-0">@Model.DepartureLocation & @Model.ReturnLocation</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 mb-2">
                                    <div class="desc-box bg-grey p-4 rounded">
                                        <h5 class="mb-2">Oda Sayısı</h5>
                                        <p class="mb-0">@Model.BedroomCount Oda</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 mb-2">
                                    <div class="desc-box bg-grey p-4 rounded">
                                        <h5 class="mb-2">Kalkış Saati</h5>
                                        <p class="mb-0">@Model.DepartureTime</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 mb-2">
                                    <div class="desc-box bg-grey p-4 rounded">
                                        <h5 class="mb-2">Fiyata Dahil Olmayan Hizmetler</h5>
                                        <ul>
                                            @foreach (var item in Model.Excludes)
                                            {
                                                <li class="d-block pb-1">
                                                    <i class="fa fa-check pink mr-1"></i> @item
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 mb-2">
                                    <div class="desc-box bg-grey p-4 rounded">
                                        <h5 class="mb-2">Fiyata Dahil Olan Hizmetler</h5>
                                        <ul>
                                            @foreach (var item in Model.Includes)
                                            {
                                                <li class="d-block pb-1">
                                                    <i class="fa fa-check pink mr-1"></i> @item
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                      

                    </div>
                  

                    <div id="iternary" class="accrodion-grp faq-accrodion mb-4" data-grp-name="faq-accrodion">
                        @for (int i = 0; i < Model.TourPlans.Count; i++)
                        {
                            var plan = Model.TourPlans[i];
                            <div class="accrodion">
                                <div class="accrodion-title rounded">
                                    <h5 class="mb-0">
                                        <span>Gün @plan.DayNumber</span> - @plan.Title
                                    </h5>
                                </div>
                                <div class="accrodion-content" style="display:none;">
                                    <div class="inner">
                                        <p>@plan.Description</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    <div id="single-map" class="single-map mb-4">
                        <h4>Harita</h4>
                        <div class="map rounded overflow-hidden">
                            <div style="width:100%">
                                <iframe class="rounded overflow-hidden"
                                        width="100%"
                                        height="400"
                                        frameborder="0"
                                        scrolling="no"
                                        marginheight="0"
                                        marginwidth="0"
                                        src="https://maps.google.com/maps?q=@Model.Latitude,@Model.Longitude&z=14&output=embed">
                                </iframe>
                            </div>
                        </div>
                    </div>

                    <div id="single-review" class="single-review mb-4">
                        <h4>Ortalama Değerlendirme</h4>
                        @{
                            double averageScore = Convert.ToDouble(ViewBag.AverageScore ?? 0);
                            int commentCount = Convert.ToInt32(ViewBag.CommentCount ?? 0);
                            double percentage = averageScore * 20;
                        }
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-4 col-md-4">
                                <div class="review-box bg-title text-center py-4 p-2 rounded">
                                    <h2 class="mb-1 white">
                                        <span>@averageScore.ToString("0.0")</span>/5
                                    </h2>
                                    <h4 class="white mb-1">
                                        @if (commentCount == 0) { <text>Henüz Değerlendirme Yok</text> }
                                        else if (averageScore >= 4.5) { <text>Mükemmel</text> }
                                        else if (averageScore >= 4) { <text>Çok İyi</text> }
                                        else if (averageScore >= 3) { <text>İyi</text> }
                                        else if (averageScore >= 2) { <text>Orta</text> }
                                        else { <text>Geliştirilmeli</text> }
                                    </h4>
                                    <p class="mb-0 white font-italic">@commentCount Değerlendirme</p>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <div class="review-progress">
                                    <div class="progress-item">
                                        <p class="mb-2">Genel Puan</p>
                                        <div class="progress rounded">
                                            <div class="progress-bar bg-theme"
                                                 role="progressbar"
                                                 style="width:@percentage%"
                                                 aria-valuenow="@percentage"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100">
                                                @averageScore.ToString("0.0") / 5
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="single-comments" class="single-comments single-box mb-4">
                        @{
                            var comments = ViewBag.Comments as List<ResultCommentDto>;
                        }
                        <h5 class="border-b pb-2 mb-2">@ViewBag.CommentCount Yorum</h5>
                        @if (comments != null && comments.Any())
                        {
                            @foreach (var item in comments)
                            {
                                <div class="comment-box">
                                    <div class="comment-image" style="flex-shrink:0; width:50px; height:50px;">
                                        @if (!string.IsNullOrEmpty(item.ImageUrl) && item.ImageUrl.StartsWith("http"))
                                        {
                                            <img src="@item.ImageUrl" alt="@item.NameSurname"
                                                 onerror="this.style.display='none'; this.nextElementSibling.style.display='flex';">
                                            <div style="display:none; width:50px; height:50px; border-radius:50%; background:#1D9E75; color:#fff; font-weight:700; font-size:16px; align-items:center; justify-content:center;">
                                                @(item.NameSurname?.Length > 0 ? item.NameSurname[0].ToString().ToUpper() : "?")
                                            </div>
                                        }
                                        else
                                        {
                                            <div style="width:50px; height:50px; border-radius:50%; background:#1D9E75; color:#fff; font-weight:700; font-size:16px; display:flex; align-items:center; justify-content:center;">
                                                @(item.NameSurname?.Length > 0 ? item.NameSurname[0].ToString().ToUpper() : "?")
                                            </div>
                                        }
                                    </div>
                                    <div class="comment-content rounded">
                                        <h5 class="mb-1">@item.NameSurname</h5>
                                        <p class="comment-date" style="position:static !important; right:auto !important; top:auto !important;">
                                            @item.CommentDate.ToString("dd.MM.yyyy HH:mm")
                                        </p>
                                        <div class="comment-rate">
                                            <div class="rating mar-right-15">
                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    if (i <= item.Score)
                                                    {
                                                        <span class="fa fa-star checked"></span>
                                                    }
                                                    else
                                                    {

                                                        <span class="fa fa-star"></span>
                                                    }
                                                }
                                            </div>
                                            <span class="comment-title">@item.HeadLine</span>
                                        </div>
                                        <p class="comment">@item.CommentDetail</p>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="alert alert-light text-center">
                                Bu tur için henüz yorum yapılmamış.
                            </div>
                        }
                    </div>

                    <div id="single-add-review" class="single-add-review">
                        <h4>Yorum Yap</h4>
                      

    @if (SignInManager.IsSignedIn(User))
    {
        <form method="post" asp-controller="Comment" asp-action="CreateComment">
            <input type="hidden" name="TourId" value="@Model.TourId" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-2">
                        <input type="text" name="NameSurname" class="form-control" placeholder="Ad Soyad" required />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-2">
                        <input type="email" name="Email" class="form-control" placeholder="E-Posta" required />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-2">
                        <input type="text" name="HeadLine" class="form-control" placeholder="Yorum Başlığı" required />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-2">
                        <select name="Score" class="form-control" required>
                            <option value="">Puan Veriniz</option>
                            <option value="5">⭐⭐⭐⭐⭐ (5)</option>
                            <option value="4">⭐⭐⭐⭐ (4)</option>
                            <option value="3">⭐⭐⭐ (3)</option>
                            <option value="2">⭐⭐ (2)</option>
                            <option value="1">⭐ (1)</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mb-2">
                        <textarea name="CommentDetail" class="form-control" rows="5" placeholder="Yorumunuzu yazınız..." required></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="nir-btn">Yorumu Gönder</button>
                </div>
            </div>
        </form>
    }
    else
    {
        <div class="alert alert-warning d-flex align-items-center gap-2 rounded" style="font-size:14px;">
            <i class="fas fa-lock me-2"></i>
            Yorum yapabilmek için
            <a asp-controller="Account" asp-action="Login" style="color:#1D9E75; font-weight:500; margin-left:4px;">giriş yapmanız</a>
            &nbsp;gerekmektedir.
        </div>
    }
                    </div>

                </div>
              
            </div>
          

            <div class="col-lg-4 ps-lg-4">
                <div class="sidebar-sticky sticky1">
                    <!-- Rezervasyon Kutusu — tabs-navbar'dan önce ekle -->
                    <div class="bg-white rounded p-4 mb-4 box-shadow" style="border:0.5px solid #e0e0e0;">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <div>
                                <p class="mb-0" style="font-size:12px; color:#9ca3af;">Fiyatı</p>
                                <h3 class="mb-0" style="color:#1D9E75; font-weight:600;">@Model.Price ₺</h3>
                            </div>
                            <div class="text-end">
                                <div class="rating">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        <span class="fa fa-star @(i <= (int)Math.Round(Model.Rating) ? "checked" : "")"
                                              style="font-size:12px;"></span>
                                    }
                                </div>
                                <small style="color:#9ca3af;">@ViewBag.CommentCount yorum</small>
                            </div>
                        </div>
                        <div class="border-t pt-3 mb-3">
                            <div class="d-flex justify-content-between mb-2" style="font-size:13px;">
                                <span style="color:#6b7280;"><i class="fas fa-clock me-1"></i> Süre</span>
                                <span style="font-weight:500;">@Model.DayNight Gün</span>
                            </div>
                            <div class="d-flex justify-content-between mb-2" style="font-size:13px;">
                                <span style="color:#6b7280;"><i class="fas fa-map-marker-alt me-1"></i> Konum</span>
                                <span style="font-weight:500;">@Model.City</span>
                            </div>
                            <div class="d-flex justify-content-between" style="font-size:13px;">
                                <span style="color:#6b7280;"><i class="fas fa-calendar-alt me-1"></i> Tur Tarihi</span>
                                <span style="font-weight:500;">@Model.TourDate</span>
                            </div>
                        </div>
                        <a asp-controller="Reservation" asp-action="Create" asp-route-tourId="@Model.TourId"
                           class="nir-btn w-100 text-center d-block"
                           style="padding:12px; font-size:14px; font-weight:500;">
                            <i class="fas fa-calendar-check me-2"></i> Rezervasyon Yap
                        </a>
                        <p class="text-center mt-2 mb-0" style="font-size:11px; color:#9ca3af;">
                            <i class="fas fa-shield-alt me-1"></i> Ücretsiz iptal · Anında onay
                        </p>
                    </div>
                    <div class="tabs-navbar bg-lgrey mb-4 bordernone rounded overflow-hidden">
                        <div class="row">
                            <div class="col-md-12">
                                <ul id="tabs" class="nav nav-tabs bordernone mb-0">
                                    <li class="active">
                                        <a data-toggle="tab" href="#highlight" class="rounded box-shadow mb-2 border-all">Genel Bilgiler</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#single-map" class="rounded box-shadow mb-2 border-all">Harita</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#single-review" class="rounded box-shadow mb-2 border-all">Değerlendirmeler</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#single-comments" class="rounded box-shadow mb-2 border-all">Yorumlar</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#single-add-review" class="rounded box-shadow mb-2 border-all">Yorum Ekle</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

@section Script {
    <script>
        document.querySelectorAll('.accrodion-title').forEach(function (title) {
            title.style.cursor = 'pointer';
            title.addEventListener('click', function () {
                var content = this.nextElementSibling;
                var isOpen = content.style.display === 'block';

                document.querySelectorAll('.accrodion-content').forEach(function (c) {
                    c.style.display = 'none';
                });
                document.querySelectorAll('.accrodion').forEach(function (a) {
                    a.classList.remove('active');
                });

                if (!isOpen) {
                    content.style.display = 'block';
                    this.closest('.accrodion').classList.add('active');
                }
            });
        });
    </script>
}